textarea {
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    width: 100%;
    height: 20px;
    color: white;
    background-color: #405cf5;
    overflow: none;
    outline: none;
    vertical-align: top;   
    resize: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
}

.tache {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: left;
}

.intituléTache {
    margin-left: 20px;
    font-size: 20px;
}

.dateRappel {
    font-size: 15px;
    color: rgb(64, 59, 59);
}

@media screen and (max-width: 750px) {
    .tache {
        width: 100%;
    }
}
    